//
// Override global variables
//

// Theme colors
$primary: #00b395;
$primary-hover: rgb(2, 119, 99);
$primary-light: #bff5e9;
$primary-inverse: #ffffff;

// Border Radiues
$border-radius: 0.85rem;
